body {
  background-color:#C9C5BA;
  color:#ddd;
}
header {
  position:fixed;
  left:0px;
  top:0px;
  width:100%;
  padding:0px 0px 0px 0px;
  background-color:#595758;
  font-family:Courier,Helvetica;
  text-align:center;
        
}
h1 {
  padding:0px;
  margin:0px;
  color:#EBBAB9;
}
a:link {
  color:#EBBAB9;
  background-color:transparent;
  text-decoration:none
}
a:visited {
  color:#EBBAB9;
  background-color:transparent;
  text-decoration:none
}
a:hover {
  color:#F1C1CF;
  background-color:transparent;
  text-decoration:underline
}
a:active {
  color:#FFD0E5;
  background-color:transparent;
  text-decoration:underline
}
.container-profile-pic {
  color:#595758;
  border:0px solid red;
  padding:40px 0px 20px 0px;
  text-align:center;
  font-family:Helvetica;
}
.profile-pic {
  align:left; border:4px outset #8B5A59; border-radius:100px; width:100px;
}
.text-profile-pic {
  padding:0px;
  margin:0px;
  color:#403D39;
  font-style: italic;
}
.container-dashed-box {
  background-color:#FFFCF2; color:#40667D; border:1px dashed #595758; border-radius:45px; margin:auto; padding:5px 40px 5px 40px; font-family:Helvetica; max-width:600px;
}
footer p {
  text-align:center; margin:auto; padding:10px;
}
footer {
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  padding:0px 0px 0px 0px;
  background-color:#595758;
  font-family:Courier,Helvetica;
}